<li>
	{{burger_name}}

	<button type="button" class="btn btn-secondary change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}Not Yet Eaten!{{/if}}
	</button>

	<button type="button" class="btn btn-secondary delete-burger" data-id="{{this.id}}">Delete!</button>
</li>
