<li>
	{{burger_name}}

	<button type="button" class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}Not Yet Eaten!{{/if}}
	</button>

	<button type="button" class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
